<!-- Carregar os arquivos da pasta static -->
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title> 
    <!-- Como referenciar os arquivos estáticos -->
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
    <script src="{% static "js/biblioteca.js" %}"></script>
</head>
<body>
    <h3>Sistema de Campeonato</h3>
    <!-- Carregar imagens pelo static -->
    <img src="{% static "img/logo.png" %}" alt="">

    <!-- Links pelo url -->
     <a href="{% url "index" %}">Página inicial</a>
     <a href="{% url "contato" %}">Contato</a>
</body>
</html>